In [1]:
l = [1,2,3,4,'prince','francis',45.99]

In [2]:
for i in l:
    print(i)

1
2
3
4
prince
francis
45.99

In [6]:
for i in l:
    print('prince')

prince
prince
prince
prince
prince
prince
prince

In [7]:
for i in l:

SyntaxError: unexpected EOF while parsing (<ipython-input-7-558be609a732>, line 1)

In [9]:
for i in l:
    pass  # if we don't want to write the body then we can simply write pass

In [10]:
p='prince'

In [11]:
for i in p:
    print(i)

p
r
i
n
c
e

In [12]:
for i in l:
    print(i)
else:
    print('after the for loop will get executed it will come to else')

1
2
3
4
prince
francis
45.99
after the for loop will get executed it will come to else

In [13]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print('else will only be executed after for loop')  #here we put a break in the for loop

1
2
3

In [15]:
p='prince'
for i in p:
    if i=="n":
        break
    print(i)
else:
    print('print string',s)

p
r
i

In [18]:
p='prince'
for i in p:
    if i=="s":
        break
    print(i)
else:
    print('print string',p)  # because here in the name there is no s

p
r
i
n
c
e
print string prince

In [19]:
t= (4,5,6,8,'prince')

In [20]:
for i in t:
    print(i)

4
5
6
8
prince

In [21]:
b={4,5,6,7,7,7,7,7,7,8,'sudh'}

In [22]:
type(b)

set

In [23]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [24]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [25]:
d= {'key1':'prince' , 'contact':'prince.francis64','position': 'xyz'}

In [33]:
for i in d:
    print(i)  # this code gives us all the keys

key1
contact
position

In [31]:
d['key1']

'prince'

In [36]:
for i in d:
    print(i,"-",d[i])  # in order to get the values we use d['keys']

key1 - prince
contact - prince.francis64
position - xyz

In [37]:
p='prince'

In [38]:
range(9)

range(0, 9)

In [39]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [41]:
range(0,9)

range(0, 9)

In [42]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [43]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [44]:
for i in range(4):
    for j in range(0,i+1):
        print('prince', end= ' ')
    print('\n')

prince

prince prince

prince prince prince

prince prince prince prince

In [55]:
n=3
k=3
for i in range(n):
    k=k-1
    print(' '*k, end= ' ')
    for j in range(i+1):
        print('prince', end= ' ')
    print()

   prince
  prince prince
 prince prince prince

In [58]:
t= (3,23,45,67,2,4,5,6)

In [61]:
for i in range(len(t)):
    print(i, t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [63]:
s='iNeuron'

In [65]:
for i in range(len(s)):
    print(i, s[i])

0 i
1 N
2 e
3 u
4 r
5 o
6 n

In [69]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [87]:
for i in range(len(s), 0, -1):
    i=i-1
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 N
0 i

In [88]:
d

{'key1': 'prince', 'contact': 'prince.francis64', 'position': 'xyz'}

In [93]:
d.items()

dict_items([('key1', 'prince'), ('contact', 'prince.francis64'), ('position', 'xyz')])

In [97]:
for i in d.items():
    print(i,type(i), type(i[1]))

('key1', 'prince') <class 'tuple'> <class 'str'>
('contact', 'prince.francis64') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [98]:
l=['prince','francis',3236565,'prince.francis64@gmail.com',345,656546]

In [99]:
l1=[]

In [101]:
for i in l:
    if type(i)== int:
        l1.append(i)

In [102]:
l1

[3236565, 345, 656546]

In [2]:
d= {1: 64646 , 'name':'prince' , 'email' : 'prince.francis64@gmail.com', 234:'jlkjlkj', '43':'lkjlkj',234:'6566'}

In [10]:
for i in d.keys():
    if type(i)==int:
        print(i,':',d[i])

1 : 64646
234 : 6566

In [8]:
for i in d:
    print(i)  # by default it will extract keys

1
name
email
234
43

In [11]:
s='aaaabbccd'

In [20]:
for i in set(s):
    print(i, ':' ,s.count(i))

b : 2
a : 4
c : 2
d : 1

In [21]:
s.count()

4

In [22]:
i= 4654645465

In [28]:
for j in str(i):
    print(int(j),type(int(j)))

4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>

In [41]:
t=('prince', 'francis', [1,2,3,4,5] , (3,4,5,6) , {3:3,'key2':'francis'})

In [44]:
for i in t:
    if type(i)== list or type(i)== tuple:
        for j in i:
            if j==3:
                print(j)
    elif type(i)== dict:
        for k , v in i.items():
            if k == 3 or v==3:
                print(k,v)

3
3
3 3

In [45]:
d={4:5 , 'key1':'prince', 'key2':'francis'}

In [47]:
for i,j in d.items():
    print(i,j)

4 5
key1 prince
key2 francis

In [56]:
a,b,c = (10,20,30)

In [57]:
c

30