In [6]:
 def test(a, b ):
        '''this is my function for concatination or addition'''
        return a+b

In [2]:
test(4,1)

5

In [3]:
test('prince',' francis')

'prince francis'

In [4]:
test(a=9,b=6)

15

In [5]:
test(b = 45,a =3)

48

In [7]:
print()

In [8]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [11]:
test1(3,4,5,6,7)

(3, 4, 5, 6, 7)

In [12]:
def test(*a):
    return a

In [13]:
test(34,456)

(34, 456)

In [14]:
test(2,3,4,45,6)

(2, 3, 4, 45, 6)

In [15]:
test(4,5,6,7,6,67,8,[3,4,5,5,5,5,6])

(4, 5, 6, 7, 6, 67, 8, [3, 4, 5, 5, 5, 5, 6])

In [16]:
def test4(*args):
    return args

In [18]:
test4('prince','is','going to become data analyst ')

('prince', 'is', 'going to become data analyst ')

In [19]:
def test5(*a):
    l=[]
    for i in a:
        l.append(i)
    return l

In [20]:
test5(2,3,4,5,45,34,3,[345,56,5,6])

[2, 3, 4, 5, 45, 34, 3, [345, 56, 5, 6]]

In [21]:
test5(3,4,5,56)

[3, 4, 5, 56]

In [22]:
def test6(a,b,c,d, *m):
    return a,b,c,d,m

In [24]:
test6(3,4,5,5,6,6,7,7,8,8)

(3, 4, 5, 5, (6, 6, 7, 7, 8, 8))

In [25]:
def test7(*m,a,b,c,d,e):
    return m,a,b,c,d,e

In [29]:
test7(4,5,65,6,6,7,7,756,a=67,b=34,c=54,d=67,e=78)

((4, 5, 65, 6, 6, 7, 7, 756), 67, 34, 54, 67, 78)

In [31]:
def test8(**kwargs):
    return kwargs

In [38]:
test8(b=4,c=5,d=6,e=6,n = [3,43,456,5,7,67,68,68])

{'b': 4, 'c': 5, 'd': 6, 'e': 6, 'n': [3, 43, 456, 5, 7, 67, 68, 68]}

In [39]:
d = {'b': 4, 'c': 5, 'd': 6, 'e': 6}

In [40]:
def test9(*args,**kwargs):
    return args,kwargs

In [41]:
test9(345,45,56,5,6,b=4,c=6 , d=7,g= 9)

((345, 45, 56, 5, 6), {'b': 4, 'c': 6, 'd': 7, 'g': 9})

In [45]:
def test10(*m):
    sum = 0
    for i in m:
        if type(i)==int:
            sum = sum+i
    return sum

In [46]:
test10(3,45,64,1)

113

In [47]:
def test1(*m):
    n = 1
    for i in m:
        if type(i)==int:
            n = n*i
    return n

In [48]:
test1(2,3,4,5,6)

720

In [53]:
n = lambda a , b : a + b  #lambda function

In [54]:
n(4,5)

9

In [55]:
def test5(a,b):
    return a + b

In [56]:
test5(4,5)

9

In [57]:
n (5,6)

11

In [58]:
b = lambda *args : args

In [59]:
b(4,5,56,76,7,68,8)

(4, 5, 56, 76, 7, 68, 8)

In [60]:
t= (3,4,4,5,5,6,67,7,7)
l=[]
for i in t:
    l.append(i)

In [61]:
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [62]:
[i for i in t]    #list comprehension operation

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [63]:
s ='prince'

In [64]:
[i for i in s]

['p', 'r', 'i', 'n', 'c', 'e']

In [66]:
[i*i for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
l=[]
for i in range(11):
    l.append(i*i)

In [69]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
l = lambda *x: [i for i in x]

In [71]:
l(4,45,5,6,6,7,8)

[4, 45, 5, 6, 6, 7, 8]

In [74]:
l = lambda *x: [i**2 for i in x ]

In [75]:
l(1,2,3,4,5,6)

[1, 4, 9, 16, 25, 36]

In [ ]:
test14(a = 7,b= 'prin',c= 345, d='francis' , l=[2,3,4,45,'prince'])

In [11]:
def test14(**kwargs):
    count= 0 
    for i in d.items():
        for j in i:
            if type(j)==list:
                for k in j:
                    if type(k)==str:
                        count =count+1
            elif type(j)==str:
                count =count+1
    return count

In [12]:
test14(a = 7,b= 'prin',c= 345, d='francis' , l=[2,3,4,45,'prince'])

8

In [13]:
def test15(**kwargs):
    return list(kwargs.values())

In [14]:
test15(a = 7,b= 'prin',c= 345, d='francis' , l=[2,3,4,45,'prince'])

[7, 'prin', 345, 'francis', [2, 3, 4, 45, 'prince']]

In [ ]:
Todays task:
    q1 :Try to print a prime number in between 1 to 100
    q2 :Try to write a function which is equivalent to print function in python
    q3 :Try to write a function which is a replica of list append, extend and pop function
    q4 :Try to write a lambda function which can return a concatenation of all the string that we will pass
    q5 :Try to write a lambda function which can return list of all the square of all the data between 1-100
    q6 :Try to wrie a 10 different example of lambda function with a choice of your task
    q7 :Try to write a function which can perform a read operation from .txt file

In [47]:
#q1
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num,end = ' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [39]:
#q2
l =lambda *args:[i for i in args]

In [42]:
l('this is my alternative to print')

['this is my alternative to print']

In [75]:
#q3
l = [1,2,3,4,5]
N=list(input())
z = l + N

prince

In [78]:
l = lambda*args:[i = i+i for i in args]

SyntaxError: invalid syntax (<ipython-input-78-0282fe55300f>, line 1)