In [6]:
def test(a,b):
    '''this is my function for concatenation or addition'''
    return a + b

In [7]:
test(4,5)

9

In [3]:
test("prince ","francis")

'prince francis'

In [4]:
test(a = 9, b =6)

15

In [5]:
test(b = 45, a =3)

48

In [8]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [9]:
test1(3,4,5,6,7,7)

TypeError: test1() takes 5 positional arguments but 6 were given

In [10]:
test1(3,4,5,6,7)

(3, 4, 5, 6, 7)

In [11]:
test1(3,4,5,6)

TypeError: test1() missing 1 required positional argument: 'e'

In [12]:
def test(*a):
    return a

In [13]:
test(34,56)

(34, 56)

In [14]:
test(2,3,4,4)

(2, 3, 4, 4)

In [16]:
test(4,45,57,23,23,5,64,7,6346,[3,4,5,46,7])

(4, 45, 57, 23, 23, 5, 64, 7, 6346, [3, 4, 5, 46, 7])

In [17]:
def test4(*args):
    return args

In [18]:
test4(334.34,3,46,6,3,2,6,6,"prince","will become data scientist")

(334.34, 3, 46, 6, 3, 2, 6, 6, 'prince', 'will become data scientist')

In [21]:
def test5(*a):
    """this is a function for args"""
    l=[]
    for i in a:
        l.append(i)
    return l

In [22]:
test5(2,3,4,5,6,6,[345,56,6,7])

[2, 3, 4, 5, 6, 6, [345, 56, 6, 7]]

In [23]:
def test6(a,b,c,d,*m):
    return a,b,c,d,m

In [24]:
test6(3,4,5,5,6,6,7,7,8,8)

(3, 4, 5, 5, (6, 6, 7, 7, 8, 8))

In [25]:
def test7(*m,a,b,c,d,e):
    return m,a,b,c,d,e

In [26]:
test7(4,5,6,7,78,45,7,8,8,5,4,4,4,4,3,6,7)

TypeError: test7() missing 5 required keyword-only arguments: 'a', 'b', 'c', 'd', and 'e'

In [27]:
test7(4,5,6,7,78,45,7,8,8,5,4,4,a=4,b=4,c=3,d=6,e=7)

((4, 5, 6, 7, 78, 45, 7, 8, 8, 5, 4, 4), 4, 4, 3, 6, 7)

In [28]:
test7(4,5,6,7,78,45,7,8,8,5,4,4,b=4,a=4,e=3,c=6,d=7)

((4, 5, 6, 7, 78, 45, 7, 8, 8, 5, 4, 4), 4, 4, 6, 7, 3)

In [29]:
def test8(**kwargs):
    return kwargs

In [31]:
test8(b = 3,c = 4, d = 6,e = "prince")

{'b': 3, 'c': 4, 'd': 6, 'e': 'prince'}

In [34]:
test8(b=3)

{'b': 3}

In [35]:
def test9(*args,**kwargs):
    return args,kwargs

In [36]:
test9(1,2,2,3,2,4,254,3,5,35,3,b=355,v=5)

((1, 2, 2, 3, 2, 4, 254, 3, 5, 35, 3), {'b': 355, 'v': 5})

In [38]:
def test10(*args):
    n = 0
    for i in args:
        if type(i)==int:
            n = n+i
    return n

In [39]:
test10(2,3,4,5,5,6,6)

31

In [40]:
test10(2,3,4,5,6,6,0)

26

In [41]:
def test11(*args):
    n = 1
    for i in args:
        if type(i)==int:
            n = n*i
    return n

In [42]:
test11(5,4,3,2,1)

120

In [ ]:
#lambda function or anonymous function

In [43]:
n = lambda a, b:a+b

In [45]:
n(4,5)

9

In [46]:
def test(a,b):
    return a+b

In [47]:
test(4,5)

9

In [48]:
n(5,6)

11

In [49]:
n(10,343)

353

In [50]:
x = lambda *args:args

In [51]:
x(10,232,3,5,5,35,23,2,2,23,5,35,35)

(10, 232, 3, 5, 5, 35, 23, 2, 2, 23, 5, 35, 35)

In [59]:
t = (3,4,4,5,5,5,6,56,6,7,7)

In [60]:
l = []
for i in t:
    l.append(i)

In [61]:
l

[3, 4, 4, 5, 5, 5, 6, 56, 6, 7, 7]

In [62]:
[i for i in t]

[3, 4, 4, 5, 5, 5, 6, 56, 6, 7, 7]

In [63]:
s = "prince"

In [64]:
[i for i in s]

['p', 'r', 'i', 'n', 'c', 'e']

In [68]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
l = []
for i in range(10):
    l.append(i*i)

In [70]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
l = lambda *x: [ i for i in x]

In [72]:
l(4,45,5,6,6,7,8,9)

[4, 45, 5, 6, 6, 7, 8, 9]

In [73]:
l = lambda *x: [i*i for i in x]

In [74]:
l(4,45,5,6,6,7,8,9)

[16, 2025, 25, 36, 36, 49, 64, 81]

In [75]:
l = lambda *x: [i**2 for i in x]

In [76]:
l(43,33,5,5,63,2,3,4,5,6)

[1849, 1089, 25, 25, 3969, 4, 9, 16, 25, 36]

In [ ]:
test14(a = 7, b = "prince", c = 345, d= "francis", l = [1,2,3,4,"dfaslj"])

In [78]:
def test14(**kwargs):
    for i,j in kwargs:
        print(i,j)

In [79]:
test14(a = 7, b = "prince", c = 345, d= "francis", l = [1,2,3,4,"dfaslj"])

ValueError: not enough values to unpack (expected 2, got 1)

In [99]:
def test(**kwargs):
    l=[]
    for i,j in kwargs.items():
        if type(i)==str or type(j)==str:
            print(i,j)

In [100]:
test(a = "prince", b = "francis", l =[1,2,34,"sdf"])

a prince
b francis
l [1, 2, 34, 'sdf']

In [89]:
s = {'a': 'prince', 'b': 'francis', 'l': [1, 2, 34, 'sdf']}

In [131]:
def test1(**kwargs):
    l = [ ]
    count= 0 
    for i in kwargs.items():
        for j in i:
            if type(j)==str:
                count= count+1
    return count

In [132]:
test1(a = 7, b = "prince", c = 345, d= "francis", l = [1,2,3,4,"dfaslj"])

7

In [125]:
def test2(**kwargs):
    return kwargs

In [130]:
test2(["asdfsa"] ="sdfas" , [1,2,3,4]="sdfasf")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-130-7de4e96f4a08>, line 1)

In [ ]:
q1 : Try to print a prime number in between 1 to 1000
q2 : Try to write a function which  is equivalent  to print function in python
q3 : Try to write a function which is a replica of list append , extend and pop function 
q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
q7 : Try to write a funtion whihc can perform a read operation from .txt file

In [141]:
def test1(*args):
    l=[]
    x= [i for i in args]
    for i in x:
        print(i, end =' ')

In [142]:
test1(1,2,3,4)

1 2 3 4

In [143]:
test1("prince", "francis", 2,3,45)

prince francis 2 3 45

In [144]:
print("prince", "francis", 2,3,45)

prince francis 2 3 45

In [155]:
l =[1,2,3,4,5]
def test2(*args):
    l1= [ ]
    for i in args:
        l1 = l + i
    return l1

In [156]:
test2(["prince", "francis","annies","priya"])

[1, 2, 3, 4, 5, 'prince', 'francis', 'annies', 'priya']

In [166]:
l =[1,2,3,4,5]
def test3(*args):
    for i in args:
        for j in i:
            l.append(j)
    return l

In [167]:
test3("prince", "francis")

[1,
 2,
 3,
 4,
 5,
 'p',
 'r',
 'i',
 'n',
 'c',
 'e',
 'f',
 'r',
 'a',
 'n',
 'c',
 'i',
 's']

In [180]:
def test4(*args):
    l = []
    x = int(input("enter the index to be popped-"))
    for i in range (x):
        l.append(args[i])
    for j in range(x+1,len(args)):
        l.append(args[j])
    return l

In [181]:
test4(1,2,3,4,5,6,7,8,9)

enter the index to be popped-3

[1, 2, 3, 5, 6, 7, 8, 9]

In [177]:
for i in range(3):
    print(i)

0
1
2

In [211]:
s = ""
x = lambda *args:[s=s+i for i in args]

SyntaxError: invalid syntax (<ipython-input-211-eb0d3f18258d>, line 2)

In [208]:
x("prince","francis",'priya')

['prince', 'francis', 'priya']

In [204]:
def test(a, b ,c,d):
    return a,b,c,d

In [215]:
x = lambda x:[i**2 for i in range(x+1)]

In [216]:
x(100)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [217]:
x = lambda *args: args

In [219]:
x(1,2,3,4,5,6,6,78,89)

(1, 2, 3, 4, 5, 6, 6, 78, 89)

In [223]:
list(range(2,2))

[]

In [229]:
for j in range(2,4):
        if 4%j == 0:
            break
else:
    print("ia")

In [221]:
for i in range(2,1000):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997