In [1]:
l=[1,2,3,4,'prince','francis',45.56]

In [2]:
for i in l:
    print(i)

1
2
3
4
prince
francis
45.56

In [3]:
for i in l:
    pass

In [4]:
s='prince'

In [5]:
s[0:4]

'prin'

In [6]:
for i in s:
    print(i)

p
r
i
n
c
e

In [8]:
for i in l:
    print(i)
else:
    print('if for loop is going to complete itself it will execute else')

1
2
3
4
prince
francis
45.56
if for loop is going to complete itself it will execute else

In [9]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print('this is will execute if for is going to complete itself')

1
2
3

In [10]:
for i in l:
    if i==4:
        pass
    print(i)
else:
    print('this is will execute if for is going to complete itself')

1
2
3
4
prince
francis
45.56
this is will execute if for is going to complete itself

In [13]:
p='prince'
for i in p:
    if i=='a':
        break
    print(i)
else:
    print('print string',p)

p
r
i
n
c
e
print string prince

In [14]:
t=(4,5,6,7,8,6,'prince')
for i in t:
    print(i)

4
5
6
7
8
6
prince

In [15]:
s={2,3,3,1,1,1,1,6,7,8,'francis'}

In [16]:
for i in s:
    print(i)

1
2
3
6
7
8
francis

In [20]:
d={'key1':'prince','contact':'prince.francis64@gmail.com','position':'xyz'}

In [25]:
for i in d:
    print(i,'-',d[i])

key1 - prince
contact - prince.francis64@gmail.com
position - xyz

In [27]:
range(9)

range(0, 9)

In [28]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [29]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [33]:
range(1,9,2)

range(1, 9, 2)

In [34]:
for i in range(1,9,2):
    print(i)

1
3
5
7

In [35]:
list(range(0,9,-1))

[]

In [36]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
n=4
for i in range(4):
    for j in range(0,i+1):
        print('prince',end = ' ')
    print('\n')

prince

prince prince

prince prince prince

prince prince prince prince

In [50]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(' '*len('prince'),end= ' ')
    for j in range(i+1):
        print('prince',end= ' ')
    for j in range(i):
        print('prince',end= ' ')
    print()

              prince
       prince prince prince
prince prince prince prince prince

In [57]:
n=4
k=n
for i in range(n):
    k=k-1
    print('   '*k ,end=' ')
    for j in range(i+1):
        print('prince',end= ' ')
    print()

          prince
       prince prince
    prince prince prince
 prince prince prince prince

In [58]:
t=(3,23,45,67,2,4,5,6)

In [63]:
for i in t:
    print(i, t.index(i))

3 0
23 1
45 2
67 3
2 4
4 5
5 6
6 7

In [68]:
for i in range(len(t)):
    print(i,'-' , t[i])

0 - 3
1 - 23
2 - 45
3 - 67
4 - 2
5 - 4
6 - 5
7 - 6

In [71]:
s='ineuron'
for i in range(len(s)):
    print(i,':',s[i])

0 : i
1 : n
2 : e
3 : u
4 : r
5 : o
6 : n

In [72]:
for i in s:
    print(s.index(i),':',i)

0 : i
1 : n
2 : e
3 : u
4 : r
5 : o
1 : n

In [80]:
s='ineuron'
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [82]:
for i in range(6,-1,-1):
    print(i,':',s[i])

6 : n
5 : o
4 : r
3 : u
2 : e
1 : n
0 : i

In [83]:
d

{'key1': 'prince', 'contact': 'prince.francis64@gmail.com', 'position': 'xyz'}

In [88]:
for i in d.items():
    print(i,':',type(i),':',type(i[1]))

('key1', 'prince') : <class 'tuple'> : <class 'str'>
('contact', 'prince.francis64@gmail.com') : <class 'tuple'> : <class 'str'>
('position', 'xyz') : <class 'tuple'> : <class 'str'>

In [8]:
l = ['prince','francis',465432134,'prince.francis64',345,34344546]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [9]:
l1

[465432134, 345, 34344546]

In [4]:
l2=[34,546,646,98]

In [96]:
l2.append(3)

In [10]:
d={1:64646,'name':'prince','email_ID':'prince.francis64@gmail.com',321:'kjljljlk',45:'54646'}

In [13]:
for i in d.items():
    if type(i[0])==int:
        print(i)

(1, 64646)
(321, 'kjljljlk')
(45, '54646')

In [17]:
s='aaaabbccd'
for i in set(s):
    print(i ,'-',s.count(i))

d - 1
a - 4
c - 2
b - 2

In [18]:
set(s)

{'a', 'b', 'c', 'd'}

In [24]:
i = 4646565665654
for i in str(i):
    print(int(i),type(int(i)))

4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
6 <class 'int'>
5 <class 'int'>
6 <class 'int'>
6 <class 'int'>
5 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>

In [34]:
    t=('prince','francis',[1,2,3,4,5],(3,4,5,6),{3:3,'key2':'francis'})

In [39]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3

In [41]:
d={4:5,'key1':'prince','key2':'francis'}

In [46]:
for i,j in d.items():
    print(i,j)

4 5
key1 prince
key2 francis

In [47]:
a,b,c = 10,20,30

In [48]:
a,b,c

(10, 20, 30)

In [49]:
a,b,c = (10,20,30)

In [50]:
a

10

In [51]:
b

20

In [52]:
c

30

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list