In [2]:
a = 10
if a ==10:
    print("this is my first condition")

this is my first condition

In [3]:
a = 10
if a ==11:
    print("this is my first condition")

In [4]:
a = 10
if a > 5 :
    pass

In [5]:
a = 10
if a > 8:
    print("print this if condition is true")

print this if condition is true

In [6]:
if a <8:
    print("print this if condition is true")

In [9]:
a = 10
if a !=11:
    print("my condition is false")
else:
    print("print this")

my condition is false

In [10]:
a = 10
if a ==11:
    print("my condition is false")
else:
    print("print this")

print this

In [11]:
a = 10
if a  == 12:
    print("here we are trying to compare 10 with 12")
elif a == 11:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

if all the blocks will fail then do this

In [16]:
price= 500
if price>500:
    print("may be i won't be able to buy a jacket")
elif price<500:
    print("i will be able to buy a jacket")
elif  price == 500:
    print("for sure i will be able to buy ")
else:
    print("i don't know")

for sure i will be able to buy

In [17]:
price>500

False

In [18]:
price<500

False

In [19]:
price==500

True

In [20]:
l = [1,2,3,4,5,6]
if 2 in l:
    print("try to perform a task")
else:
    print("do not perform this task")

try to perform a task

In [21]:
if 60 in l:
    print("try to perform a task")
else:
    print("do not perform this task")

do not perform this task

In [22]:
l

[1, 2, 3, 4, 5, 6]

In [23]:
if 1 in l:
    print("try to do a addition")
elif 2 in l:
    print("try to do subtraction")
elif 3 in l:
    print("try to do multiplication")

try to do a addition

In [24]:
if 10 in l:
    print("try to do a addition")
elif 2 in l:
    print("try to do subtraction")
elif 3 in l:
    print("try to do multiplication")

try to do subtraction

In [25]:
if 10 in l:
    print("try to do a addition")
elif 2 in l:
    print("try to do subtraction")
elif 3 in l:
    print("try to do multiplication")
if 4 in l:
    print("this is new statement")

try to do subtraction
this is new statement

In [26]:
a = 400

In [27]:
b=  input()

300

In [28]:
type(b)

str

In [30]:
b = input()

True

In [31]:
type(b)

str

In [32]:
b

'True'

In [33]:
b = int(input())

800

In [34]:
b

800

In [35]:
type(b)

int

In [36]:
b = int(input())

fdjafj

ValueError: invalid literal for int() with base 10: 'fdjafj'

In [39]:
c = int(input())
if c < 500:
    print("i will be able to buy something")
    if c < 400:
        print("i will be able to buy a jacket")
    elif c < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy anything")

100
i will be able to buy something
i will be able to buy a jacket

In [43]:
c = int(input())
if c < 500:
    print("i will be able to buy something")
    if c < 400:
        print("i will be able to buy a jacket")
    elif c < 300:
        print("i will be able to buy a shirt")
    else:
        print("i won't be able to buy anything")
else:
    print("i won't be able to buy anything with this price tag")

1000
i won't be able to buy anything with this price tag

In [49]:
marks = int(input())
if marks< 600:
    print("No GRE")
    if marks<500:
        print("can apply for TOFEL")
    else:
        print("try something else")
else:
    print("will get admission in GRE")

601
will get admission in GRE

In [53]:
val =  float(input("enter a number-"))
if val >= 0 :
    if val == 0:
        print("entered value is zero")
    else:
        print("entered value is a positive number")
else:
    print("entered number is negative")

enter a number-8
entered value is a positive number

In [54]:
a = 10
if a <=10:
    print("tyr to do something")

tyr to do something

In [55]:
a = 10
if a <10 or a== 10:
    print("tyr to do something")

tyr to do something

In [56]:
a = "prince"
if a =="prince" and a =="Prince":
    print("this is prince")

In [57]:
a = "prince"
if a =="prince" or a =="Prince":
    print("this is prince")

this is prince

In [58]:
a = 10
b = 11 
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13:
    print("let's do something")

In [59]:
d = {"key":"value" , "key2":"prince", "key3":"iNeuron"}

In [60]:
if d["key"] == "value" and d["key2"]== "prince" and d["key3"] == "iNeuron":
    print(d)

{'key': 'value', 'key2': 'prince', 'key3': 'iNeuron'}

In [62]:
if d["key"] == "value" and d["key2"]== "prince" and d["key3"] == "iNeuron":
    print("all the values are verified")
    print(d.values())

all the values are verified
dict_values(['value', 'prince', 'iNeuron'])

In [63]:
if d["key"] == "value" and d["key2"]== "Prince" and d["key3"] == "iNeuron":
    print("all the values are verified")
    print(d.values())
else:
    print("all the values are not verified")

all the values are not verified

In [64]:
l = [1,2,3,4,5,"prince", 234.45]

In [65]:
l[0]

1

In [66]:
l[1]

2

In [67]:
l[2:5]

[3, 4, 5]

In [68]:
for i in l:
    print(i)

1
2
3
4
5
prince
234.45

In [69]:
for i in l[2:5]:
    print(i)

3
4
5

In [70]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [71]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    else:
        print(i+str(1))

2
3
4
5
6
prince1
235.45

In [72]:
a = [9,8,7,6,5,4,3,2,10]

In [74]:
for i in a :
    print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 10]
[9, 8, 7, 6, 5, 4, 3, 2, 10]
[9, 8, 7, 6, 5, 4, 3, 2, 10]
[9, 8, 7, 6, 5, 4, 3, 2, 10]
[9, 8, 7, 6, 5, 4, 3, 2, 10]
[9, 8, 7, 6, 5, 4, 3, 2, 10]
[9, 8, 7, 6, 5, 4, 3, 2, 10]
[9, 8, 7, 6, 5, 4, 3, 2, 10]
[9, 8, 7, 6, 5, 4, 3, 2, 10]

In [75]:
l1 = []
for i in l:
    if type(i)==int:
        l1.append(i)

In [76]:
l1

[1, 2, 3, 4, 5]

In [78]:
l

[1, 2, 3, 4, 5, 'prince', 234.45]

In [80]:
for i in l:
    if i.isalnum():
        print(i)

AttributeError: 'int' object has no attribute 'isalnum'

In [81]:
l = ["francis", 2, 3, 4, 5, 'prince', 234.45]

In [82]:
for i in l:
    if i.isalnum():
        print(i)

francis

AttributeError: 'int' object has no attribute 'isalnum'