In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

In [12]:
#q1 
s ='ineuron '
for i in range(1,5):
    print(s * i)

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [117]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [213]:
#q2
n=4
for i in range(n):
    for j in range(n-i-1):
        print('   ',end=' ')
    for j in range(i+1):
        print('ineuron',end=' ')
    print()
for i in range(n-1):
    for j in range(i+1):
        print('    ', end='')
    for j in range(n-i-1):
        print('ineuron',end=' ')
    print()

            ineuron
        ineuron ineuron
    ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
    ineuron ineuron ineuron
        ineuron ineuron
            ineuron

In [118]:
#question 3
for i in l:
    if type(i)== list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [119]:
#question 4
for i in l:
    if type(i)== dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [120]:
#question 5
for i in l:
    if type(i)== tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [121]:
#question 6
l1=[]
for i in l:
    if type(i)==tuple or type(i)==set or type(i)==list:
        for j in i:
            if type(j)==int:
                l1.append(j)
    elif type(i)==dict:
        for j in i.items():
            for k in j:
                if type(k) == int:
                    l1.append(k)

In [122]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [123]:
#question 7
sum = 0
for i in l1:
    sum =  sum+i
print(sum)

156

In [124]:
#question 8
for i in l1:
    if i%2!=0:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [125]:
#question 9
for i in l:
    if type(i)==dict:
        for j in i.items():
            for k in j:
                if k=='ineuron':
                    print(k)

ineuron

In [169]:
#question 10
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l1.append(j)
    elif type(i)==dict:
        for j in i.items():
            for k in j:
                l1.append(k)
l2=set(l1)
for i in l2:
    print(i,'-',l1.count(i))

1 - 1
2 - 2
3 - 4
4 - 4
5 - 3
6 - 3
7 - 2
k3 - 1
8 - 1
data science  - 1
45 - 1
ineuron - 2
kumar - 1
sudh - 1
23 - 1
k2 - 1
k1 - 1

In [67]:
#question11
l2=[]
for i in l:
    if type(i)==dict:
        for k in i:
            l2.append(k)
print(len(l2))

5

In [72]:
#question 12
l3=[]
for i in l:
    if type(i)==tuple or type(i)==set or type(i)==list:
        for j in i:
            if type(j)==str:
                l1.append(j)
    elif type(i)==dict:
        for j in i.items():
            for k in j:
                if type(k) == str:
                    l1.append(k)

In [82]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [83]:
l3=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                l3.append(j)
    else:
        for j in i.items():
            for k in j:
                if type(k)==str:
                    l3.append(k)

In [84]:
l3

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [112]:
#question 13
l3=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                if j.isdigit()==False and j.isalpha()==False and j.isalnum()==True:
                    l3.append(j)
    else:
        for j in i.items():
            for k in j:
                if type(k)==str:
                    if k.isdigit()==False and k.isalpha()==False and k.isalnum()==True:
                        l3.append(k)

In [113]:
l3

['k1', 'k2', 'k3']

In [126]:
#question 14
multi=1
for i in l1:
    multi =  multi*i
print(multi)

908605071360000

In [127]:
#question 15
l4=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l4.append(j)
    else:
        for j in i.items():
            for k in j:
                l4.append(k)

In [128]:
l4

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']