In [1]:
l = [1,2,3,4,"prince", "francis", 45.56]

In [2]:
for i in l:
    print(i)

1
2
3
4
prince
francis
45.56

In [3]:
for i in l:
    pass

In [4]:
s = "prince"

In [5]:
for i in s:
    print(i)

p
r
i
n
c
e

In [7]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself it will execute else")

1
2
3
4
prince
francis
45.56
if for loop is going to complete itself it will execute else

In [8]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3

In [10]:
s = "prince"
for i in s:
    if i == 'n':
        break
    print(i)
else:
    print("print string", s)

p
r
i

In [11]:
s = "prince"
for i in s:
    if i == 'z':
        break
    print(i)
else:
    print("print string", s)

p
r
i
n
c
e
print string prince

In [12]:
t = (4,5,6,7,8,6,"prince")

In [13]:
for i in t:
    print(i)

4
5
6
7
8
6
prince

In [14]:
b = {4,5,6,7,7,7,7,7,7,7,7,8,"prince"}

In [15]:
type(b)

set

In [16]:
for i in b:
    print(i)

4
5
6
7
8
prince

In [17]:
b

{4, 5, 6, 7, 8, 'prince'}

In [18]:
d = {'key1':'prince', 'contact':'prince.francis64@gmail.com',"position":"Mamba kid"}

In [25]:
for i in d:
    print(i ,"-",d[i])

key1 - prince
contact - prince.francis64@gmail.com
position - Mamba kid

In [32]:
for i in range(1,4):
    print(i*"Prince ")

Prince
Prince Prince
Prince Prince Prince

In [31]:
list(range(1,4))

[1, 2, 3]

In [33]:
range(9)

range(0, 9)

In [34]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [37]:
list(range(0,9,-1))

[]

In [38]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("Prince", end=" ")
    print("\n")

Prince

Prince Prince

Prince Prince Prince

Prince Prince Prince Prince

In [48]:
n = 4
k = n
for i in range(n):
    k = k-1
    print('   '*k, end='')
    for j in range(i+1):
        print("prince  ", end='')
    print()

         prince
      prince  prince
   prince  prince  prince
prince  prince  prince  prince

In [49]:
t = (3,23,45,7,2,4,5,6)

In [56]:
for i in range(len(t)):
    print(i,"-",t[i])

0 - 3
1 - 23
2 - 45
3 - 7
4 - 2
5 - 4
6 - 5
7 - 6

In [57]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [58]:
s = "iNeuron"

In [60]:
for i in range(len(s)):
    print(i,s[i])

0 i
1 N
2 e
3 u
4 r
5 o
6 n

In [61]:
list(range(len(s),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [62]:
list(range(len(s),-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [69]:
for i in list(range(len(s)-1,-1,-1)):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 N
0 i

In [70]:
d

{'key1': 'prince',
 'contact': 'prince.francis64@gmail.com',
 'position': 'Mamba kid'}

In [73]:
for i in d.items():
    print(i, type(i),type(i[1]))

('key1', 'prince') <class 'tuple'> <class 'str'>
('contact', 'prince.francis64@gmail.com') <class 'tuple'> <class 'str'>
('position', 'Mamba kid') <class 'tuple'> <class 'str'>

In [74]:
l = ["prince","francis", 232424,"prince.francis64@gmail.com",343,2323232]

In [76]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [77]:
l1

[232424, 343, 2323232]

In [78]:
d = {1:23244, "name":"prince", "email_id":"prince.francis64@gmail.com",234:"asfdasf","43":"Asdfasdf",234:"3435"}

In [81]:
for i in d:
    if type(i)==int:
        print(i,d[i])

1 23244
234 3435

In [83]:
s = "aaaabbccd"
for i in set(s):
    print(i, s.count(i))

a 4
d 1
c 2
b 2

In [84]:
i = 232442255224
for i in str(i):
    print(i)

2
3
2
4
4
2
2
5
5
2
2
4

In [85]:
t = ("prince","francis",[1,2,3,4,5],(3,4,5,6),{"key1":"prince", "key2":"francis"})

In [87]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)

3
3

In [89]:
t = ("prince","francis",[1,2,3,4,5],(3,4,5,6),{3:"prince", "key2":"francis"})

In [90]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    elif type(i)==dict:
        for k in i:
            if k==3:
                print(k,i[k])

3
3
3 prince

In [91]:
t = ("prince","francis",[1,2,3,4,5],(3,4,5,6),{3:3, "key2":"francis"})

In [92]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    elif type(i)==dict:
        for k in i.items():
            for j in k:
                if j==3:
                    print(j)

3
3
3
3

In [93]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    elif type(i)==dict:
        for k,v in i.items():
            if k == 3 or v==3:
                print(k)
                print(v)

3
3
3
3

In [94]:
d

{1: 23244,
 'name': 'prince',
 'email_id': 'prince.francis64@gmail.com',
 234: '3435',
 '43': 'Asdfasdf'}

In [95]:
d= {4:3, "key1":"prince", "key2":"francis"}

In [96]:
for i in d.items():
    print(i)

(4, 3)
('key1', 'prince')
('key2', 'francis')

In [97]:
d.items()

dict_items([(4, 3), ('key1', 'prince'), ('key2', 'francis')])

In [98]:
for i,j in d.items():
    print(i,j)

4 3
key1 prince
key2 francis

In [99]:
a = 10
b = 20
c = 30

In [100]:
a,b,c = 10,20,30

In [101]:
a,b,c = (10,20,30)

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

In [102]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [104]:
for i in l:    #question 3
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [105]:
for i in l:  #question 4
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [106]:
for i in l:  #question 5
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [107]:
for i in l:  #question 6
    if type(i)==dict:
        for j,k in i.items():
            if type(j)==int or type(k)==int:
                print(j)
                print(k)

3
6
7
8

In [110]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [116]:
l1=[]   #question 7
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    elif type(i)==dict:
        for j,k in i.items():
            if type(j)==int or type(k)==int:
                l1.append(j)
                l1.append(k)

In [117]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [118]:
sum(l1)

156

In [125]:
for i in l:     #question 8
    if type(i)==list:
        for j in i:
            if type(j)==int and j%2!=0:
                print(j)

1
3

In [130]:
for i in l:    #question 9 
    if type(i)==list:
        for j in i:
            if j=='ineuron':
                print(j)
    elif type(i)==dict:
        for j,k in i.items():
            if k=='ineuron':
                print(k)

ineuron
ineuron

In [134]:
l1=[]      #question 10
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l1.append(j)
    elif type(i)==dict:
        for j in i.items():
            for k in j:
                l1.append(k)

In [137]:
for i in set(l1):
    print(i,l1.count(i))

1 1
2 2
3 4
4 4
5 3
6 3
7 2
k1 1
8 1
data science  1
45 1
sudh 1
k3 1
ineuron 2
23 1
kumar 1
k2 1

In [138]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [140]:
s = 0   #question 11
for i in l:
    if type(i)==dict:
        for j in i.items():
            s=s+1

In [141]:
s

5

In [142]:
l1=[]   #question 12
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                l1.append(j)
    elif type(i)==dict:
        for j,k in i.items():
            if type(j)==str or type(k)==str:
                l1.append(j)
                l1.append(k)

In [143]:
l1

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [144]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [146]:
l1=[]   #question 13
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if str(j).isalnum():
                l1.append(j)
    elif type(i)==dict:
        for j,k in i.items():
            if str(j).isalnum() or str(k).isalnum():
                l1.append(j)
                l1.append(k)

In [148]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron']

In [149]:
l1=[]   #question 14
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    elif type(i)==dict:
        for j,k in i.items():
            if type(j)==int or type(k)==int:
                l1.append(j)
                l1.append(k)

In [150]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [152]:
m = 1
for i in l1:
    m=m*i

In [153]:
m

908605071360000

In [156]:
l1=[]   #question 15
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l1.append(j)
    elif type(i)==dict:
        for j,k in i.items():
            l1.append(j)
            l1.append(k)

In [157]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [161]:
for i in range(1,5):   #question 1
    print("prince "*i, end='')
    print()

prince
prince prince
prince prince prince
prince prince prince prince

In [172]:
n = 4      #question 2
k = n  
p = 1
for i in range(n):
    k = k-1
    print('   '*k, end='')
    for j in range(i+1):
        print("prince  ", end='')
    print()
for i in range(n-1):
    p = p + 1 
    print('   '*p, end = ' ')
    for j in range(n-1):
        print("prince "*j, end = '')
    n = n-1
    print()

         prince
      prince  prince
   prince  prince  prince
prince  prince  prince  prince
       prince prince prince
          prince