In [2]:
a=10
if a==11:
    print('this is my first condition')

In [7]:
a = 10
if a > 5 :
    pass

In [8]:
a = 10
if a > 8:
    print('print this is condition is true')

print this is condition is true

In [9]:
a = 10
if a < 8:
    print('print this if condition is true')

In [11]:
a = 10
if a == 11:
    print('my condition is false')
else :
    print('print this')

print this

In [17]:
a = 10
if a ==12:
    print('here we are trying to compare 10 with 12')
elif a == 11:
    print('we are trying to compare 10 with 11')
else:
    print('if all the blocks will fail then do this')

if all the blocks will fail then do this

In [26]:
price = 500
if price >500:
    print('I wont be able to buy a jacket')
elif price < 500:
    print('I will be able to buy a jacket')
else :
    print('I dont know')

I dont know

In [22]:
500 != 500

False

In [23]:
500>500

False

In [27]:
a = 10
if a ==12:
    print('here we are trying to compare 10 with 12')
elif a == 11:
    print('we are trying to compare 10 with 11')
elif price ==500:
    print('for sure i will be able to buy')
else:

    print('if all the blocks will fail then do this')

for sure i will be able to buy

In [28]:
price>500

False

In [29]:
price==500

True

In [30]:
l = [1,2,3,4,5,6]
if 2 in l:
    print('try to perform a task')
else:
    print('do not perform this task')

try to perform a task

In [36]:
l = [1,2,3,4,5,6]
if 1 in l:
    print('try to perform a task')
else:
    print('do not perform this task')

try to perform a task

In [38]:
if 10 in l:
    print('try to do a addition')
elif 2 in l:
    print('try to do subtraction')
elif 3 in l:
    print('try to do multiplication')
if 4 in l:
    print('this is a new statement')

try to do subtraction
this is a new statement

In [39]:
a = 400

In [67]:
b = int(input())

6565

In [68]:
b

6565

In [69]:
type(b)

int

In [78]:
price = int(input())
if price < 500:
    print('i will be able to buy something')
    if price<400:
        print('i will be able to buy a jacket')
    elif price<300:
        print('i will be able to buy a shirt')
    else:
        print('i wont be able to buy anything')
else :
    print('i wont be able to buy anything with this price tag')
    if price > 500:
        print('lets try something else')

500
i wont be able to buy anything with this price tag

In [83]:
marks= int((input()))
if marks>600:
    print('i will clear GRE')
elif marks < 600:
    print('no GRE')
    if marks<500:
        print('TOFEL')
        if  marks<400:
            print('try something else')

399
no GRE
TOFEL
try something else

In [86]:
val =float( input('enter a floating point number'))
if val>=0:
    if val ==0:
        print('entered value is zero')
    else:
        print('entered value is a positive number')
else:
    print('entered value is a negative number')

enter a floating point number5
entered value is a positive number

In [88]:
a= 10
if a<10 or a ==10:
    print('try to do something')

try to do something

In [91]:
a= 10
if a<10 and a == 10:
    print('try to do something')

In [94]:
a= 'prince'
if a =='prince' and a =='prince':
    print('this is my name')

this is my name

In [96]:
a = 10
b = 11 
c = 12
d = 13
if a == 9 or b == 11 and c ==12 and d ==13:
    print('lets do something')

lets do something

In [98]:
d = {'key1':'value', 'key2':'prince','key3':'iNeuron'}

In [100]:
if d['key1']=='value'and d['key2'] == 'Prince' and d['key3']=='iNeuron':
    print('all the values are verified')
    print(d.values())
else:
    print('all the values are not verified')

all the values are not verified

In [101]:
l=[1,2,3,4,5,'prince',234.45]

In [103]:
for i in l:
    print(i)

1
2
3
4
5
prince
234.45

In [105]:
for i in l:
    print(i+2)

3
4
5
6
7

TypeError: can only concatenate str (not "int") to str

In [109]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
6
prince1
235.45

In [1]:
l=[1,6,7,8,9,'prince']

In [2]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [3]:
l1

[1, 6, 7, 8, 9]