In [4]:
a = 10
if a == 11:
    print('this is my first condition')

In [5]:
a =10
if a>5:
    pass

In [6]:
a = 10
if a > 8 :
    print('print this if condition is true')

print this if condition is true

In [7]:
l =[1,2,3,4,'prince','francis',45.56]

In [8]:
for i in l:
    print(i)

1
2
3
4
prince
francis
45.56

In [9]:
for i in l:
    pass

In [11]:
s ='prince'

In [12]:
for i in s:
    print(i)

p
r
i
n
c
e

In [15]:
for i in s:
    print(i, end= '')

prince

In [16]:
for i in l:
    print(i)
else:
    print('if for loop is going to complete itself then it will execute else')

1
2
3
4
prince
francis
45.56
if for loop is going to complete itself then it will execute else

In [17]:
l

[1, 2, 3, 4, 'prince', 'francis', 45.56]

In [18]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print('this will execute only if for is going to complete itself')

1
2
3

In [19]:
s = 'prince'

In [21]:
for i in s:
    if i=='z':
        break
    print(i)
else:
    print('print string',s)

p
r
i
n
c
e
print string prince

In [24]:
t=(4,5,6,7,8,6,'prince')
for i in t:
    print(i)

4
5
6
7
8
6
prince

In [25]:
b = {4,5,6,7,7,7,7,7,7,7,8,'prince'}

In [26]:
type(b)

set

In [27]:
b

{4, 5, 6, 7, 8, 'prince'}

In [28]:
for i in b:
    print(i)

4
5
6
7
8
prince

In [29]:
d= {'key1':'prince','contact':'prince.francis64@gmail.com','position':'xyz'}

In [36]:
for i in d:
    print(d[i])

prince
prince.francis64@gmail.com
xyz

In [39]:
d['key1'],d['contact'],d['position']

('prince', 'prince.francis64@gmail.com', 'xyz')

In [40]:
1,2,2,3,4

(1, 2, 2, 3, 4)

In [41]:
for i in d:
    print(i,':',d[i])

key1 : prince
contact : prince.francis64@gmail.com
position : xyz

In [44]:
for i in range(1,5):
    print(i*'*')

*
**
***
****

In [47]:
for i in range(4):
    for j in range(0,i+1):
        print('prince', end=' ')
    print('\n')

prince

prince prince

prince prince prince

prince prince prince prince

In [55]:
n=int(input('enter the number of rows-'))
for i in range(n):
    for j in range(n-i-1):
        print(' ',end='')
    for k in range(i+1):
        print('*',end= ' ')
    print()

enter the number of rows-5
    *
   * *
  * * *
 * * * *
* * * * *

In [59]:
s= 'ineuron'
for i in range(len(s)-1,-1,-1):
    print(i, '-',s[i])

6 - n
5 - o
4 - r
3 - u
2 - e
1 - n
0 - i

In [60]:
d = {1:334646, 'name':'prince', 'email_id':'prince.francis64@gmail.com',234:'lkjlj',"43":'sadfas', 234:'54646'}

In [63]:
for i in d:
    if type(i)==int:
        print(i ,'-', d[i])

1 - 334646
234 - 54646

In [68]:
s= 'aaaabbccd'
for i in set(s):
    print(i,'-',s.count(i))

b - 2
d - 1
a - 4
c - 2

In [71]:
s=46443431313

for i in set(str(s)):
    print(i , '-',str(s).count(i))

1 - 2
6 - 1
4 - 4
3 - 4

In [79]:
t = ('prince','francis',[1,2,3,4,5],(3,4,5,6),{3:3,'key2':'francis'})

In [82]:
for i in t:
    if type(i)== list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    elif type(i)==dict:
        for k in i.items():
            for l in k:
                if l==3:
                    print(l)

3
3
3
3

In [84]:
a = 1
b = 10
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [86]:
a= 1 
b= 13
while a< b:
    print(a)
    a = a+2
else:
    print('print this else block')

1
3
5
7
9
11
print this else block

In [88]:
a = 1
b =10
while a<b:
    a = a+1
    if a==3:
        continue
    print(a)

2
4
5
6
7
8
9
10

In [89]:
l = [1,2,3,4,65,56]
for i in l:
    print(i)

1
2
3
4
65
56

In [91]:
a = 0
while a<len(l):
    print (l[a])
    a = a+1

1
2
3
4
65
56

In [93]:
l

[1, 2, 3, 4, 65, 56]

In [95]:
a = len(l)-1
while 0<=a:
    print(l[a])
    a= a-1

56
65
4
3
2
1

In [98]:
a = -len(l)
while a<=-1:
    print(l[a])
    a= a+1

1
2
3
4
65
56

In [99]:
d={'k1':'prince', 'k2':[1,2,3,4], 'k3':(2,3,4,5)}

In [100]:
len(d)

3

In [104]:
a = 0
b = list(d.keys())
while a<len(d):
    print(d[b[a]])
    a = a+1

prince
[1, 2, 3, 4]
(2, 3, 4, 5)

In [110]:
def test(*args):
    return args

In [111]:
test('francis')

('francis',)

In [112]:
test({1:'prince','contact':'9567287370',234:646})

({1: 'prince', 'contact': '9567287370', 234: 646},)

In [114]:
a = lambda a,b:a+b

In [119]:
a(10,20)

30

In [120]:
# print prime numbers from 1-100
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num,end = ' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [152]:
# write function which is equivalent to print function
def test(*args):
    for i in args:
        if type(i)==int or type(i)==str or type(i)==tuple or type(i)==list or type(i)==dict:
            return i

In [154]:
test({'name':'priya','immigration to':'Canada','date':'10/01/2023'})

{'name': 'priya', 'immigration to': 'Canada', 'date': '10/01/2023'}

In [185]:
#Try to write a function which is a replica of list append, extend and pop function
s = [1,2,3,4,5]

def append(*args):
    for i in args:
        l1=s+i
    return l1

In [186]:
append(['prince','francis'])

[1, 2, 3, 4, 5, 'prince', 'francis']

In [202]:
#extend function
s = [1,2,3,4,5]
l1=[]
def extend(*args):
    for i in args:
        for j in i:
            l1.append(j)
    return s+l1

In [203]:
extend('annies')

[1, 2, 3, 4, 5, 'a', 'n', 'n', 'i', 'e', 's']

In [242]:
#pop function
l=[]
n = int(input('enter the index which needs to be popped-'))
def pop(*args):
    for i in range(n):
        l.append(args[i])
    for i in range(n+1,len(args)):
        l.append(args[i])
    return l

enter the index which needs to be popped-9

In [243]:
pop(1,2,3,4,5,'prince','priya','annies','francis','gambit')

[1, 2, 3, 4, 5, 'prince', 'priya', 'annies', 'francis']

In [295]:
#Try to write a lambda function which can return a concatenation of all the string that we will pass
(lambda a, b : a+b)('prince',' francis')

'prince francis'

In [300]:
#Try to write a lambda function which can return list of all the square of all the data between 1-100
square = lambda args :[i**2 for i in range(args)]

In [301]:
square(101)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [305]:
#Try to write a function which can perform a read operation from .txt file
f = open("welcome.txt","r")
data = f.read()
print(data)

Welcome to the future

In [311]:
#lambda functions with example
#example 1
upper_string_reverse= lambda x: x.upper()[::-1]

In [312]:
upper_string_reverse('prince')

'ECNIRP'

In [314]:
#example 2
c = lambda cube: cube*cube*cube

In [315]:
c(5)

125

In [318]:
#example 3
max= lambda a,b: a if(a>b) else b

In [319]:
max(2,65)

65

In [329]:
# example 4
sortList = lambda x :[sorted(i) for i in x]

In [330]:
sortList([[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]])

[[2, 3, 4], [1, 4, 16, 64], [3, 6, 9, 12]]